body {
    font-family: sans-serif;
}
#title {
    color: white;
    font-size: 36px;
    margin-left: 14%;
}
header {
    background-color: black;
    padding: 12px;
    margin-bottom: 5%;
}
#loanBtn {
    background-color: rgb(32, 236, 168);
    border-color: rgb(32, 236, 168);
    color: black; 
}
#bankBtn {
    background-color: rgb(233, 233, 71);
    border-color: rgb(233, 233, 71);
    color: black;
}
#repayBtn {
    background-color: rgb(219, 117, 214);
    border-color: rgb(219, 117, 214);
    color: black;
}
#buyBtn {
    margin-top: 16px;
    background-color: rgb(68, 200, 244);
    border-color: rgb(68, 200, 244);
    color: black;
}
.row{
    margin-bottom:5%;
}
#dropDown {
    width: 100%;
    margin-bottom: 8px;
}
#priceInfo {
    text-align: center;
}
#laptopInfo {
    margin-top: 40px;
}
img{
    width: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#featuresList {
    font-size: 14px;
}
.bottom,.loanContainer{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 5px;
}
.loanContainer{
    margin-bottom: 20px;
}
